<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myfirstinstantapp">
    <application android:allowBackup="true" android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true" android:theme="@style/AppTheme"
        android:name="com.clevertap.android.sdk.Application">

        <meta-data
            android:name="CLEVERTAP_ACCOUNT_ID"
            android:value="48Z-KKZ-594Z"/>
        <meta-data
            android:name="CLEVERTAP_TOKEN"
            android:value="133-1b4"/>

        <activity
            android:name="com.clevertap.android.sdk.InAppNotificationActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden"/>
    </application>

</manifest>
